pkgbase = lib32-dav1d
	pkgdesc = AV1 cross-platform decoder focused on speed and correctness (32 bit)
	pkgver = 0.5.2
	pkgrel = 1
	url = https://code.videolan.org/videolan/dav1d/
	arch = x86_64
	license = BSD
	makedepends = meson
	makedepends = ninja
	makedepends = nasm
	makedepends = doxygen
	makedepends = vulkan-headers
	depends = dav1d
	depends = lib32-glibc
	depends = lib32-vulkan-icd-loader
	source = https://downloads.videolan.org/pub/videolan/dav1d/0.5.2/dav1d-0.5.2.tar.xz
	source = https://downloads.videolan.org/pub/videolan/dav1d/0.5.2/dav1d-0.5.2.tar.xz.asc
	source = lib32.meson
	validpgpkeys = 65F7C6B4206BD057A7EB73787180713BE58D1ADC
	sha256sums = f94cf88c4a3ac2fd3cb30d688e8ef5943854d73db2dd12985a78892e76560f0a
	sha256sums = SKIP
	sha256sums = 0852227a4b8e2367d73727645203da45ead1834773458e2fc109d30e40e12221

pkgname = lib32-dav1d

